<ion-view view-title="Filters">
    <ion-nav-view></ion-nav-view>    
    <ion-content>
        <ion-list>
            <ion-item ui-sref="ainscow.dates">Dates</ion-item>
            <ion-item ui-sref="ainscow.metrics">Metrics</ion-item>        
            <ion-item ui-sref="ainscow.genres">Genres</ion-item>  
            <ion-item ui-sref="ainscow.channels">Channels</ion-item>
            <ion-item ui-sref="ainscow.broadcasters">Broadcasters</ion-item>
        </ion-list>
    </ion-content>
    
</ion-view>

