    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
      <ion-tabs class="tabs-positive tabs-icon-only">
          <ion-tab title="Home" icon="ion-home" ui-sref="ainscow.home">
              <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>
          <ion-tab title="Search" icon="ion-search" ui-sref="ainscow.search">
              <ion-nav-view name="search-tab"></ion-nav-view>
          </ion-tab>
          <ion-tab title="Analyze" icon="ion-stats-bars" ui-sref="ainscow.analyze">
              <ion-nav-view name="analyze-tab"></ion-nav-view>
          </ion-tab>          
      </ion-tabs>
  

